.department{
    margin-bottom: 60px;
.medical-health{
  padding: 30px 15px;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 17px 0 rgba(0, 0, 0, 0.11);


    .icons{
        font-size: 35px;
        color: #438afe;
        width: 75px;
        height: 75px;
        border: 1px solid #2a2a2b1f;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
    p{
        font-size: 14px;
        color:#878a8d ;
        margin: 0;
    }
}
}